{% extends 'main/base.html' %}

{% block title %} Reset done {% endblock %}

{% block content %}
<div class="sub-container d-flex flex-column">
    <div class="header-div d-flex justify-content-between">
        <h1>Reset done</h1>
    </div>
    <div class="content-div d-flex flex-column">
        
            <div class="sentence d-flex justify-content-center mb-2">
                <h4 class="star me-3 pt-1">&#x2726;</h4>
                <span>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</span>
            </div>

            <div class="sentence d-flex justify-content-center mb-2">
                <h4 class="star me-3 pt-1">&#x2726;</h4>
                <span>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</span>
            </div>
            
    </div>
</div>
{% endblock %}