{% extends 'main/base.html' %}

{% block title %} Reset {% endblock %}

{% block content %}
<div class="sub-container d-flex flex-column">
    <div class="header-div d-flex justify-content-between">
        <h1>Reset</h1>
        <a href="{% url 'tasks-view' %}"><i class="fas fa-chevron-circle-left back-icon-2"></i></a>
    </div>
    <div class="content-div d-flex flex-column">
        <form method="post">
            {% csrf_token %}
            <div class="sentence d-flex justify-content-center mb-2">
                <h4 class="star me-3 pt-1">&#x2726;</h4>
                <span>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</span>
            </div>

            <div class="sentence d-flex justify-content-center mb-2">
                <h4 class="star me-3 pt-1">&#x2726;</h4>
                <span>The email provided should be that used to register your account.</span>
            </div>
            {{form.as_p}}
            <div class="buttons-container d-flex justify-content-evenly align-items-center">
                <button type="submit" class="btn btn-primary">Reset my password</button>
            </div>
        </form>
        
    </div>
</div>
{% endblock %}