{% extends 'main/base.html' %}

{% block title %} Reset {% endblock %}

{% block content %}
<div class="sub-container d-flex flex-column">
    <div class="header-div d-flex justify-content-between">
        <h1>Change password</h1>
    </div>
    <div class="content-div d-flex flex-column">
        <form method="post">
            {% csrf_token %}
            <div class="sentence d-flex justify-content-center mb-2">
                <h4 class="star me-3 pt-1">&#x2726;</h4>
                <span>Enter the desired password identically in the provided fields</span>
            </div>
            {{form.as_p}}
            <div class="buttons-container d-flex justify-content-evenly align-items-center">
                <button type="submit" class="btn btn-primary">Reset password</button>
            </div>
        </form>
        
    </div>
</div>
{% endblock %}