{% extends 'main/base.html' %}

{% block title %} Reset complete {% endblock %}

{% block content %}
<div class="sub-container d-flex flex-column">
    <div class="header-div d-flex justify-content-between">
        <h1>Reset complete</h1>
    </div>
    <div class="content-div d-flex flex-column">
        
            
            <div class="sentence d-flex justify-content-center mb-2">
                <h4 class="star me-3 pt-1">&#x2726;</h4>
                <span>Your password has been set. You may go ahead and log in now.</span>
            </div>

            <div class="buttons-container d-flex justify-content-evenly align-items-center">
                <a href="{% url 'login' %}">
                    <button type="button" class="btn btn-primary">Login</button>
                </a>
            </div>
        
        
    </div>
</div>
{% endblock %}